<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiekn.plantdata.mapper.CodeMapper" >
  <resultMap id="BaseResultMap" type="com.hiekn.plantdata.Entity.Code" >
    <id column="CODEID" property="codeid" jdbcType="VARCHAR" />
    <result column="CLASSID" property="classid" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CODENAME" property="codename" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CODE
    where CODEID = #{codeid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hiekn.plantdata.Entity.Code" >
    insert into CODE (CODEID, CLASSID, CODE, 
      CODENAME)
    values (#{codeid,jdbcType=VARCHAR}, #{classid,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{codename,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hiekn.plantdata.Entity.Code" >
    update CODE
    set CLASSID = #{classid,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      CODENAME = #{codename,jdbcType=VARCHAR}
    where CODEID = #{codeid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select CODEID, CLASSID, CODE, CODENAME
    from CODE
    where CODEID = #{codeid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select CODEID, CLASSID, CODE, CODENAME
    from CODE
  </select>
</mapper>