<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiekn.plantdata.mapper.CodeMapper" >
  <resultMap id="BaseResultMap" type="com.hiekn.plantdata.Entity.Code" >
    <id column="CODEID" property="codeId" jdbcType="VARCHAR" />
    <result column="CLASSID" property="classId" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CODENAME" property="codeName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from CODE
    where CODEID = #{codeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hiekn.plantdata.Entity.Code" >
    insert into CODE (CODEID, CLASSID, CODE, 
      CODENAME)
    values (#{codeId,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
      #{codeName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hiekn.plantdata.Entity.Code" >
    update CODE
    set CLASSID = #{classId,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      CODENAME = #{codeName,jdbcType=VARCHAR}
    where CODEID = #{codeId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select CODEID, CLASSID, CODE, CODENAME
    from CODE
    where CODEID = #{codeId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select CODEID, CLASSID, CODE, CODENAME
    from CODE
  </select>

  <select id="getCodeCountByClass" resultType="java.lang.Integer" >
    select count(*)
    from CODE
    WHERE CLASSID = #{0}
  </select>

  <select id="getCodeListByClassId" parameterType="Map" resultMap="BaseResultMap" >
    select a1.* from (
    select CODEID, CLASSID, CODE, CODENAME,rownum rn
    from CODE
    WHERE CLASSID = #{classId,jdbcType=VARCHAR}
    <if test="searchStr != null">
      AND CODENAME like concat(concat('%',#{searchStr}),'%')
    </if>
    ) a1 where rn between #{startNum} and #{endNum}
  </select>

  <select id="getCodeCountByName" resultType="java.lang.Integer" >
    select count(*)
    from CODE
    WHERE CODENAME like concat(concat('%',#{0}),'%')
  </select>

  <select id="selectByClassId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select CODEID, CLASSID, CODE, CODENAME
    from CODE
    where CLASSID = #{classId,jdbcType=VARCHAR}
  </select>

  <update id="updateByClassIdAndCode" parameterType="com.hiekn.plantdata.Entity.Code" >
    update CODE
    set CODENAME = #{codeName,jdbcType=VARCHAR}
    where CLASSID = #{classId,jdbcType=VARCHAR} and CODE = #{code,jdbcType=VARCHAR}
  </update>
</mapper>