<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiekn.plantdata.mapper.DatasourceMapper" >
  <resultMap id="BaseResultMap" type="com.hiekn.plantdata.Entity.Datasource" >
    <id column="DATASOURCEID" property="datasourceId" jdbcType="VARCHAR" />
    <result column="DATASOURCENAME" property="datasourceName" jdbcType="VARCHAR" />
    <result column="CLASSID" property="classId" jdbcType="VARCHAR" />
    <result column="KIND" property="kind" jdbcType="VARCHAR" />
    <result column="CONFIG" property="config" jdbcType="CLOB" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from DATASOURCE
    where DATASOURCEID = #{datasourceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hiekn.plantdata.Entity.Datasource" >
    insert into DATASOURCE (DATASOURCEID, DATASOURCENAME, CLASSID, 
      KIND, CONFIG)
    values (#{datasourceId,jdbcType=VARCHAR}, #{datasourceName,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR},
      #{kind,jdbcType=VARCHAR}, #{config,jdbcType=CLOB})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hiekn.plantdata.Entity.Datasource" >
    update DATASOURCE
    set DATASOURCENAME = #{datasourceName,jdbcType=VARCHAR},
      CLASSID = #{classId,jdbcType=VARCHAR},
      KIND = #{kind,jdbcType=VARCHAR},
      CONFIG = #{config,jdbcType=CLOB}
    where DATASOURCEID = #{datasourceId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select DATASOURCEID, DATASOURCENAME, CLASSID, KIND, CONFIG
    from DATASOURCE
    where DATASOURCEID = #{datasourceId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select DATASOURCEID, DATASOURCENAME, CLASSID, KIND, CONFIG
    from DATASOURCE
  </select>

  <select id="getSynImportedDatasourece" resultType="java.util.HashMap" >
    select DATASOURCEID as "datasourceId", DATASOURCENAME as "datasourceName"
    from DATASOURCE
    WHERE CLASSID = #{0} and KIND = 'syn'
  </select>

  <select id="selectByClassIdAndKind" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select DATASOURCEID, DATASOURCENAME, CLASSID, KIND, CONFIG
    from DATASOURCE
    where CLASSID = #{classsId,jdbcType=VARCHAR} and KIND = #{kind,jdbcType=VARCHAR}
  </select>
</mapper>