<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiekn.plantdata.mapper.NomatchMapper" >
  <resultMap id="BaseResultMap" type="com.hiekn.plantdata.Entity.Nomatch" >
    <id column="NOMATCHID" property="nomatchId" jdbcType="VARCHAR" />
    <result column="CLASSID" property="classId" jdbcType="VARCHAR" />
    <result column="DATASOURCEID" property="datasourceId" jdbcType="VARCHAR" />
    <result column="NOMATCHNAME" property="nomatchName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from NOMATCH
    where NOMATCHID = #{nomatchId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hiekn.plantdata.Entity.Nomatch" >
    insert into NOMATCH (NOMATCHID, CLASSID, DATASOURCEID,
      NOMATCHNAME)
    values (#{nomatchId,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, #{datasourceId,jdbcType=VARCHAR},
      #{nomatchName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hiekn.plantdata.Entity.Nomatch" >
    update NOMATCH
    set CLASSID = #{classId,jdbcType=VARCHAR},
      DATASOURCEID = #{datasourceId,jdbcType=VARCHAR},
      NOMATCHNAME = #{nomatchName,jdbcType=VARCHAR}
    where NOMATCHID = #{nomatchId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select NOMATCHID, CLASSID, DATASOURCEID, NOMATCHNAME
    from NOMATCH
    where NOMATCHID = #{nomatchId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select NOMATCHID, CLASSID, DATASOURCEID, NOMATCHNAME
    from NOMATCH
  </select>

  <select id="getNomatchList" resultType="java.util.HashMap" >
   select a.CLASSID as "classId",a.CLASSNAME as "className",count(b.CLASSID) as "count"
   from CLASSIFY a  left join DATASOURCE b on a.CLASSID=b.CLASSID
   GROUP BY a.CLASSID,a.CLASSNAME
  </select>

  <select id="getNomatchInfoCountByClass" resultType="java.lang.Integer" >
    select count(distinct DATASOURCEID)
    from NOMATCH
    where CLASSID = #{0}
  </select>

  <select id="getNomatchInfoList" parameterType="Map" resultType="java.util.HashMap" >
    select a2.* from (
		select a1.*,rownum rn from(
		select a.DATASOURCEID as "datasourceId", b.DATASOURCENAME as "datasourceName",count(a.DATASOURCEID) as "count"
    from NOMATCH a LEFT JOIN DATASOURCE b on a.DATASOURCEID = b.DATASOURCEID
		where a.CLASSID = #{classId}
		GROUP BY a.DATASOURCEID,b.DATASOURCENAME) a1
		) a2 where rn between #{startNum} and #{endNum}
  </select>

  <select id="getMatchCountByClassList" parameterType="Map" resultMap="BaseResultMap" >
    select NOMATCHID, CLASSID, DATASOURCEID, NOMATCHNAME
    from NOMATCH
    WHERE DATASOURCEID = #{datasourceId}
  </select>
</mapper>