<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiekn.plantdata.mapper.SynonymMapper" >
  <resultMap id="BaseResultMap" type="com.hiekn.plantdata.Entity.Synonym" >
    <id column="SYNID" property="synid" jdbcType="VARCHAR" />
    <result column="CODEID" property="codeid" jdbcType="VARCHAR" />
    <result column="SYNNAME" property="synname" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYNONYM
    where SYNID = #{synid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hiekn.plantdata.Entity.Synonym" >
    insert into SYNONYM (SYNID, CODEID, SYNNAME
      )
    values (#{synid,jdbcType=VARCHAR}, #{codeid,jdbcType=VARCHAR}, #{synname,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hiekn.plantdata.Entity.Synonym" >
    update SYNONYM
    set CODEID = #{codeid,jdbcType=VARCHAR},
      SYNNAME = #{synname,jdbcType=VARCHAR}
    where SYNID = #{synid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select SYNID, CODEID, SYNNAME
    from SYNONYM
    where SYNID = #{synid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SYNID, CODEID, SYNNAME
    from SYNONYM
  </select>
</mapper>