<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hiekn.plantdata.mapper.SynonymMapper" >
  <resultMap id="BaseResultMap" type="com.hiekn.plantdata.Entity.Synonym" >
    <id column="SYNID" property="synId" jdbcType="VARCHAR" />
    <result column="CODEID" property="codeId" jdbcType="VARCHAR" />
    <result column="SYNNAME" property="synName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYNONYMS
    where SYNID = #{synId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hiekn.plantdata.Entity.Synonym" >
    insert into SYNONYMS (SYNID, CODEID, SYNNAME
      )
    values (#{synId,jdbcType=VARCHAR}, #{codeId,jdbcType=VARCHAR}, #{synName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hiekn.plantdata.Entity.Synonym" >
    update SYNONYMS
    set  SYNNAME = #{synName,jdbcType=VARCHAR}
    where SYNID = #{synId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select SYNID, CODEID, SYNNAME
    from SYNONYMS
    where SYNID = #{synid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select SYNID, CODEID, SYNNAME
    from SYNONYMS
  </select>

  <select id="getSynListByCodeId" resultType="java.util.HashMap" >
    select SYNID as "synId", SYNNAME as "synName"
    from SYNONYMS
    WHERE CODEID = #{0}
  </select>

  <select id="getSynCountByName" resultType="java.lang.Integer" >
    select count(*)
    from SYNONYMS
    WHERE SYNNAME like concat(concat('%',#{0}),'%')
  </select>

  <select id="searchCodeNameInfo" resultType="java.util.HashMap" >
    select CLASSNAME as "className",CLASSID as "classId",CODEID as "codeId",CODE as "code",CODENAME as "codeName",SYNNAME as "synName"
    from SYNTABLE
    WHERE CODENAME like concat(concat('%',#{0}),'%')
  </select>

  <select id="searchSynNameInfo" resultType="java.util.HashMap" >
    select CLASSNAME as "className",CLASSID as "classId",CODEID as "codeId",CODE as "code",CODENAME as "codeName",SYNNAME as "synName"
    from SYNTABLE
    WHERE SYNNAME like concat(concat('%',#{0}),'%')
  </select>
</mapper>